.page {
  background-color: black;
  color: white;
}

.page__section {
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .page__content {
    margin: 0;
  }
}
