.footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.footer__copyright {
  color: #545454;
  margin: 0;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 14px;
    line-height: 1.2;
  }

  .footer__copyright {
    margin-left: 6%;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media only screen and (max-width: 850px) and (min-width: 481px) {
  .footer__copyright {
    margin-left: 5%;
  }
}
