.page {
  background-color: #000000;
  color: #ffffff;
  max-width: 880px;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

/* @media screen and (min-width: 1300px) and (max-width: 1600px) {
  .page__section {
    flex-wrap: wrap;
  }
} */
