.popup {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.popup__container_delete {
  height: 181px;
}

.popup__container_avi {
  height: 272px;
}

.popup__title {
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  padding-left: 36px;
  padding-top: 34px;
  padding-bottom: 54px;
  height: 23px;
}

.popup__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 36px;
  margin: 0;
  gap: 30px;
}

.popup__error {
  font-size: 12px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  color: #ff0000;
  padding: 5px 0 0 0;
}

.popup__label {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0 0 13px 0;
  margin: 0;
  width: 358px;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__button {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background-color: #000000;
  color: #ffffff;
  border: none;
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 13.6px 125px 18.5px 124px;
  cursor: pointer;
}

.popup__button:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
}

.popup__buttonimage {
  border-radius: 2px;
  height: 50px;
}

.popup__button_disabled {
  color: #000;
  opacity: 0.2;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: default;
}

.popup__closebutton {
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__closebutton:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__container_image {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}

#popup-closebutton {
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

#popup-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 510px) {
  .popup__container {
    width: 282px;
    height: 322px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .popup__input {
    width: 238px;
    padding: 0 0 13px 0;
  }
  .popup__fieldset {
    padding: 0 0 0 22px;
  }
  .popup__title {
    font-size: 18px;
    padding: 25px 0 75px 22px;
  }
  .popup__button {
    width: 238px;
    height: 46px;
    padding: 14px 100px 14px 100px;
  }

  .popup__closebutton {
    margin-left: 250px;
    margin-bottom: 13px;
    width: 26px;
    height: 26px;
  }
}
